
<header class="hero" [class.loaded]="imgLoaded">
  <div class="hero__container" *ngIf="title || intro">
    <h1
      class="hero__container__title"
      *ngIf="title"
      [innerHTML]="title">
    </h1>

    <p
      class="hero__container__intro"
      *ngIf="intro"
      [innerHTML]="intro | safe: 'html'">
    </p>

  </div>

  <figure class="hero__img">
    <video
      (loadeddata)="loadVideo(); loaded.emit($event)"
      *ngIf="isClient() && video"
      [class.loaded]="videoLoaded"
      playsinline
      loop
      hidden
      preload="none"
      autoplay>
    <source
      [src]="video"
      type="video/mp4">
    </video>

    <img
      (load)="loadImg(); loaded.emit($event)"
      *ngIf="img"
      [src]="img"
      alt="">
  </figure>
</header>



