*, :after, :before { box-sizing: border-box; }

figure,
figcaption {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
    color: inherit;
    text-decoration: underline;
}

figcaption {
  font-weight: bold;
  text-align: center;
}

@include h {
  margin: 0 0 .62em;
  font-weight: bold;
  line-height: 1.15;
}

.h1 {
  font-size: rem(72);
}

.h2 {
  font-size: rem(48);
}

.h3 {
  font-size: rem(32);
}

.h4 {
  font-size: rem(24);
}

.h5 {
  font-size: rem(20);
}

.h6 {
  font-size: rem(18);
}

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }

.lead {
    margin: 0 0 2em;
    font-size: 1.3em;
    line-height: 1.45;
}
