.visually-hidden { @extend %visually-hidden; }

[hidden] { display: none !important; }

.no-underline { text-decoration: none; }
.underline { text-decoration: underline; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
