<div class="nav" (document:keydown.esc)="close()">
  <button
    class="nav__toggle"
    #toggleEl
    (click)="toggle()">
  </button>

  <nav id="menu" class="nav__list">
    <ul>
        <li>
          <a [routerLink]="[]">
            item
          </a>
        </li>
      </ul>
  </nav>
</div>
