<h1>Styleguide</h1>

<button class="button type--primary">Primary</button>
<button class="button type--secondary">Secondary</button>
<button class="button type--warning">Warning</button>
<button class="button type--error">Error</button>
<button class="button type--success">Success</button>
<button class="button type--grey">Grey</button>
<button class="button type--default">Default</button>
<button class="button type--white">White</button>

<hr>

<input type="text" class="input" placeholder="Input">

