$buttons: (
  warning   $color-warning    white,
  primary   $color-primary    white,
  secondary $color-secondary  white,
  success   $color-success    white,
  grey    $color-grey-700   white,
  default   $color-grey-300   $color-grey-700,
  white   white           $color-grey-700,
  error     $color-error      white
);

.button {
  @extend %reset-button;
  border-radius: 0.375em;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.1;
  padding: 0.719em 1em;
  vertical-align: middle;
  transition: .2s ease;
  display: inline-block;

  &.type--block {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100vw;
  }

  &.type--round { border-radius: 2.5em; }
  &.type--rect { border-radius: 0; }

  @each $name, $bg, $font in $buttons {
    &.type--#{$name} {
      background: $bg;
      color: $font;

      &:hover {
        background: lighten($bg, 5%);
        box-shadow: inset 0 -.1875em 0 darken($bg, 15%);
      }

      &:active {
        background: darken($bg, 5%);
        box-shadow: inset 0 .1875em 0 darken($bg, 15%);
      }
    }
  }

  @extend .button.type--default;
}
