.input {
  @extend %reset-button;
  cursor: text;
  border-radius: 0.375em;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.1;
  padding: 0.719em 1em;
  vertical-align: middle;
  display: inline-block;
  background: $color-grey-300;
  color: $color-grey-700;
  transition: .2s ease;
  display: inline-block;

  &:hover {
    background: darken($color-grey-300, 3%);
  }

  &:focus {
    background: darken($color-grey-300, 5%);
  }

  &::placeholder {
    color: $color-grey-500;
  }

  &.type--block {
    display: block;
    text-align: left;
    width: 100%;
    max-width: 100vw;
  }

  &.type--round { border-radius: 2.5em; }
  &.type--rect { border-radius: 0; }
}
