$xs: 480px;
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;
$xxl: 1600px;

$color-grey-300: #eee;
$color-grey-500: #777;
$color-grey-700: #3A3A3A;
$color-grey: $color-grey-500;

$color-warning: #EDB746;
$color-error: #D00089;
$color-success: #3DC0A0;

$color-primary: $color-success;
$color-secondary: #9988C5;
